
/* style.css */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

/* Profile Styles */
.profile {
  text-align: center;
  margin-top: 30px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 24px;
}

.profile h4 {
  font-size: 16px;
  color: #888;
}

/* About Styles */
.about {
  margin-top: 30px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

/* Footer Styles */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact h4 {
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 5px;
  color: #888;
}

.contact input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.contact button {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}


